{
    "importOrder": [
        "^react",
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/widgets/(.*)$",
        "^@/features/(.*)$",
        "^@/entities/(.*)$",
        "^@/shared/(.*)$",
        "^@/hooks/(.*)$",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "printWidth": 105,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
